/* style.css */

.editor-container {
  display: flex;
  flex-direction: unset;
  width: 500px;
  height: 350px;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.editor-code-area{
  overflow: auto;
  height: 310px;

}
.editor-button-area{
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  border: 2px solid #ddd;
  height: 40px;

}

.editor-status-text{
  overflow: hidden;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0;
  justify-content: left;
  align-items: flex-start;
}

.editor-button {
  padding: 8px 16px;
  margin: 10px;
  margin-top: 2px;
  cursor: pointer;
  align-self: flex-start;
}

.code-editor-wrapper {
  flex-grow: 1;
  /* Make sure the CM theme/styles apply fully */
}

/* Custom styles for highlighting the selected line */
.highlight-line {
  background-color: rgba(255, 255, 0, 0.3); /* Highlight color */
}
