
body {
    /*
    background-color: #242424;
    color: #ffffff;
    */
    font-family: Arial, sans-serif;
}

.table-cell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* Top-left corner */
.top-left {
    border-top-left-radius: 10px;
}


.red-text {
    color: red;
    display: inline;
}

/* Top-right corner */
.top-right {
    border-top-right-radius: 10px;
}

/* Bottom-left corner */
.bottom-left {
    border-bottom-left-radius: 10px;
}

/* Bottom-right corner */
.bottom-right {
    border-bottom-right-radius: 10px;
}



.scrollable-div {
  overflow: auto; /* Makes the div scrollable */
  }


@keyframes getGlow {
  0% {
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  }
  100% {
    box-shadow: 0 0 0px #00ffcc;
  }
}

.glow-effect-get {
  animation: getGlow 1s ease-in-out;
}


@keyframes setGlow {
  0% {
    box-shadow: 0 0 10px #c81313, 0 0 20px #c81313;
  }
  100% {
    box-shadow: 0 0 0px #c81313;
  }
}
  
.glow-effect-set {
  animation: setGlow 0.5s ease-in-out;
}
    